/*Définition des propriétés de base (Variables de couleurs,comportement des bordures,police*/
:root {
    --color1: #0065FC;
    --color2: #F2F2F2;
    --color3: #DEEBFF;
}
* {
    box-sizing: border-box;
    margin:0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    /*Layout pour fixer le footer */
    height: 100%;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: black;
}
/*Mise en page*/
.main {
    margin:auto;
    max-width: 1340px;
    flex: 1 0 auto; /*Pour que le contenu principal prenne toute la place disponible et éviter qu'il soit rétréci*/
}
header {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header a {
    padding: 45px 25px 0;
    font-size: 1.2em;
}
.navigation a:hover {
    color: var(--color1);
}
.logo {
    margin:25px auto 20px 0px;
}
ul {
    list-style-type: none; /*Pour retirer les puces des listes*/
    
}
.nav-item {
    display: inline-block;
    padding:45px 0;
    border-top: 2px solid transparent;
}
.nav-item:hover {
    border-top: 2px solid var(--color1);
}
.signin a{
    font-weight: bold;
    color:var(--color1);
    border-top: 2px solid transparent;
}
.signin a:hover {
    border-top: 2px solid var(--color1);
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.6em;
}
.banner p {
    padding: 10px 0;
}
/*Propriétés de la barre de recherche*/
#searchsection {
    margin: 10px 0;
}
.locationsearch {
    display: flex;
    align-items: center;
    width: 358px;
    border-radius: 15px;
    overflow: hidden;
}
.locationsearch i {
    background-color:var(--color2);
    padding: 16px;
    height: 48px;
}
#sitesearch {
    border: 1px solid var(--color2);
    height: 48px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
}
.searchbutton {
    background-color: var(--color1);
    padding: 14px;
    font-weight: bold;
    font-size: 1.3em;
    border: unset;
    height: 48px;
    cursor: pointer;
}
.searchbutton span {
    color: white;
    font-size: 0.9em;
}
.searchicon {/*Cacher l'icône en mode desktop*/
    display: none;
}
/*Mise en forme des filtres*/
#filtersection {
    display: flex;
    align-items: center;
}
#filtersection h4 {
    margin-right: 10px;
}
.filterbutton {
    display: flex;
}
.filterbutton input {
    display: none;
}
.filterbutton label:hover {
    background-color: var(--color2);
    transform: scale(1.05);
    transition: 0.4s;
}
#filtersection input:checked + label {
    background-color:var(--color3);
    
}
#filtersection input:checked + label i {
    background-color:var(--color1);
    color: white;
}
#filtersection label {
    display: flex;
    align-items: center;
    border: 2px solid var(--color2);
    border-radius: 25px;
    margin: 15px;
    font-weight: bold;
    cursor: pointer;
}
#filtersection i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color1);
    background-color: var(--color3);
    border: 2px solid transparent;
    border-radius: 25px;
    font-size: 1.6em;
    width: 50px;
    height: 50px;
    margin: -2px;
}
#filtersection label:hover i {
    border: 2px solid var(--color1);
}

#filtersection span {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2em;
}
.info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.info i {
    color: var(--color1);
    border: 2px solid var(--color2);
    border-radius: 25px;
    padding: 8px 13px;
}
.info p {
    margin: 10px;
}
/*Section Hébergements*/
.lodging {
    display:flex;
    justify-content: space-around;
}
#lodgingsection {
    background-color: var(--color2);
    border-radius: 20px;
    padding: 20px 20px 30px 20px;
    width: 68%;
}
#lodgingsection h2 {
    margin:20px 0px 15px 20px;
}
h3 {
    font-size: 1.2em;
}
.priceinfo {
    padding: 5px 0px;
}
.blue-star {
    color: var(--color1);
}
.grey-star {
    color: var(--color2);
}
.lodgingbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.lodgingcard {
    width: 29%;
    min-width: 200px;
}
.lodgingcard:hover {
    transform: scale(1.05);
    transition:0.3s;
}
figure{
    border-radius: 20px;
    margin: 15px 0px;
    padding: 5px;
    background-color: white;
    box-shadow: 2px 2px 7px rgb(177 177 177 / 40%);
}
.lodgingcard figcaption {
    margin-left: 10px;
}
.lodgingcard img {
    width:100%;
    height: 115px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.showmore {
    display: inline-block;
    font-weight: bold;
    padding: 20px 0px 10px 20px;
    font-size: 1.3em;
}
.showmore:hover {
    color: var(--color1);
}
/*Section Populaire*/
.popularhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 35px 15px 35px;
}
.popularhead i {
    font-size: 1.5em;
}
#popularsection {
    background-color: var(--color2);
    border-radius: 20px;
    margin-left: 3%;
    padding-bottom: 20px;
    width:29%
}
.popularbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:auto;
    width: 85%;
}
.popularcard {
    display:flex;
    height:160px;
}
.popularcard:hover {
    transform: scale(1.05);
    transition:0.3s
}
.popularcard figure {
    display: flex;
}
.popularcard figcaption {
    width: 55%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.poprating {
    padding-bottom: 10px;
}
.popularcard img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}
/*Section Activités*/
#activitiessection {
    margin: 60px 0 80px;
}
.activitiesbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:440px;
    margin-top: 10px;
}
.activitiescard{
    height: 100%;
    width: 100%;
}
.activitiescard:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
.activitiesbox-A {
    margin-right: 3%;
    width: 30%;
}
.activitiesbox-A:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
.activitiesbox-B {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 3%;
    width: 30%;
}
.activitiesbox-B2 {
    width:30%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.activitiescard img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    height: 100%;
}
.activitiesbox figure {
    padding:0px 0px 50px 0px;
}
.imgsize1 {
    height: 100%;
}
.imgsize2 {
    height: 245px;
}
.imgsize3 {
    height: 165px;
}
.imgsize4 {
    height: 205px;
}
.activitiescard h3 {
    padding: 10px 10px 10px 20px;
}
/*Footer*/
.footer {
    background-color: var(--color2);
    flex-shrink: 0; /*Pour éviter que le footer devienne plus petit que son contenu*/
}
#footerinfo {
    max-width: 1340px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 35px 0;   
}
#footerinfo ul {
    padding: 10px 0 ;
}
#footerinfo li {
    padding: 5px 0;
}
#footerinfo div {
    width: 30%;
}
/*Media Queries*/
@media screen and (max-width:1375px) {
    .main {
        margin: 0 20px;
    }
    #footerinfo {
        padding-left: 20px;
    }
}
@media screen and (max-width:1057px) {
    h3 {
        font-size: 1em ;
    }    
    .lodging {
        flex-direction: column-reverse;
    }
    #lodgingsection {
        width: 100%;
        height: 100%;
    }
    #lodgingsection h2 {
        margin-left: auto;
    }    
    #popularsection {
        width: 100%;
        padding: 20px;
        margin: auto;
        margin-bottom: 20px;
    }
    .popularhead {
        padding: 0px 0px 20px;
    }
    .popularbox {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .popularcard {
        padding: 1%;
        height: auto;
        width: 33%;
    }
    .infopopular h3{
        font-size: 1.3em;
    }  
}
